.yellow-input {
    border: 2px solid #ffd600;
    background: #fff;
    font-size: 0.8rem;
    padding: 4px 10px;
}
.yellow-input:focus {
    border-color: #ffd600;
    box-shadow: 0 0 0 2px #ffe06633;
}

.yellow-btn {
    background: #ffd600;
    color: #222;
    font-weight: 700;
    border-radius: 8px;
    transition: background 0.2s;
    font-size: 1rem;
}

.yellow-btn:hover {
    background: #ffea80;
}

label,
.text-sm {
    font-size: 0.9rem;
}

.text-xs {
    font-size: 0.8rem;
}